
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type = "text/css" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
        <div id = "top">
        <a href="" ><img src="img/anhbia.png" alt="" width="100%" height="auto" controls></a>   
      </div>
            
            
            
          <div class="header-menu">

      <!-- menu sẽ tự động mất đi và có nút nhấn để hiện menu trên thiết bị di động -->
            

          <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          
            <a class="navbar-toggleable-md" href="/login.comple"><img src="img/logo.gif" alt="" width="100" height="50"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a></li>
                <li><a href="/albums"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Albums </a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About </a></li>
                <li><a href="/myblog"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Blog </a></li>
                <li><a href="/sign-up"><span class="glyphicon glyphicon-pencil"></span> Sign Up </a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
            </ul>
        </div>
    </div>
</nav>
      <!-- End Menu Bootstrap -->
  
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">


        
    <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle collapsed" data-target = "#main-nav" aria-expanded = "false"  data-toggle = "collapse" name = "button"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
    <div class="collapse navbar-collapse" id="main-nav">     
                <a href="#no1" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"> Quốc gia <i class="fa fa-caret-down"></i></a>
                  <div class="collapse" id="no1">
                  <a href="#no11" class="list-group-item" data-toggle="collapse" data-parent="#no11"> Mỹ <i class="fa fa-caret-down"></i></a>
                    <div class="collapse list-group-submenu" id="no11">
                        <a href="#" class="list-group-item" data-parent="#no11"> Walt Desney </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Warner Bros </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Paramount Pictures </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Pixar </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> 20th Century Fox </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Comlumbia Pictures </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Dreamworks </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Universal </a>
                    </div>
            <a href="#no12" class="list-group-item" data-toggle="collapse" data-parent="#no12"> Nhật Bản <i class="fa fa-caret-down"></i></a>
              <div class="collapse list-group-submenu" id="no12">
                        <a href="#" class="list-group-item" data-parent="#no12"> Studio Ghibli </a>
                        <a href="#" class="list-group-item" data-parent="#no12"> Sunrise </a>
                        <a href="#" class="list-group-item" data-parent="#no12"> Toei Animation </a>
                        <a href="#" class="list-group-item" data-parent="#no12"> Gainax </a>
                    </div>
                  </div>
                <a href="#no2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Thể loại<i class="fa fa-caret-down"></i></a>
                <div class="collapse" id="no2">
                  <a href="" class="list-group-item"> Hài hước </a>
                  <a href="" class="list-group-item"> Phiêu lưu </a>
                  <a href="" class="list-group-item"> Siêu nhân</a>
                </div>
                <a href="#no3" class="list-group-item list-group-item-success" data-parent="#MainMenu"> Phim lẻ </a>
                <a href="#no4" class="list-group-item list-group-item-success" data-parent="#MainMenu"> Phim bộ </a>
              
     </div>
    
  </nav>
</div>

</div>

<div class="col-sm-10">

      <div class="col-lg-12" class="pull-left">
          <h1 class="page-header"> ----------- MY BLOG ---------- </h1>
      </div>

      <

      <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/avatar.nguoinhen.gif" alt="..." width="220" height="170">
          </a>
          <div class="media-body">
            <h3> Giới thiệu phim hoạt hình Spiderman </h3>
            <h6> #01 - 01/01/2017 - Truc Vo </h6>
            <h6><span class="glyphicon glyphicon-eye-open"> view </span></h6>
            <p>The Amazing Spider-Man (tạm dịch Người Nhện phi thường) là một bộ phim siêu anh hùng của đạo diễn Marc Webb, dựa trên cuốn truyện tranh cùng tên và diễn viên Andrew Garfield thủ vai chính nhân vật Người Nhện. Bộ phim này là một khởi động lại của loạt phim Người Nhện, bộ phim thứ tư của Columbia Pictures với những siêu anh hùng. Dàn diễn viên bao gồm Garfield trong vai Peter Parker và người bạn thân của mình, Emma Stone trong vai Gwen Stacy và Rhys Ifans trong vai Tiến sĩ Curt Connors. Bộ phim sẽ miêu tả Parker là siêu cường của mình đang phát triển ở trường trung học.</p>
            <p>Phát triển của bộ phim đã bắt đầu đồng thời với việc hãng Sony công bố việc hủy bỏ của Người Nhện 4. Lựa chọn cho một khởi động lại với cùng một đội ngũ sản xuất chứ không phải là phần tiếp theo khác, hãng đã công bố phát hành vào tháng 7 năm 2012 với tựa The Amazing Spider-Man. James Vanderbilt đã được thuê để viết kịch bản trong khi Alvin Sargent và Steve Kloves đã giúp tinh chỉnh kịch bản. Quay phim bắt đầu vào tháng 12 năm 2010 tại Los Angeles trước khi chuyển đến thành phố New York với sự giúp đỡ của máy ảnh Epic RED. Bộ phim đi vào sản xuất trong tháng 4 năm 2011 với James Horner là tham gia với số điểm phim. Sony Entertainment đã tập trung chiến dịch tiếp thị của hãng với một trang web quảng cáo với hình ảnh phát hành, 2 trailer sân khấu. The Amazing Spider-Man được dự kiến ​​sẽ được phát hành dưới dạng 3D và IMAX 3D vào ngày 03 tháng 7 năm 2012. Một phần tiếp theo của bộ phim đang được lên kế hoạch cho phát hành trong năm 2014 với James Vanderbilt thuê lại viết kịch bản.</p>
            <p></p>
            <a class="btn btn-primary" href="/myblog"><span class="glyphicon glyphicon-arrow-left"></span> Trở về</a>
            <p></p>
            <hr>
      </div>
      </div>
      </div>


</div>

</div>
</div>




 









    <footer>
    <div class="container">
      <div class="footer-info text-center">
        Dương Minh Toàn - Võ Thị Thanh Trúc
      <br>
        1412553-1412595 Copyright© 2017<br>
      </div>
    </div>
  </footer> 



  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery-3.2.0.min.js" type = "text/javascript"></script>
  <script src="js/bootstrap.min.js" type = "text/javascript"></script>
  </body>
</html>