<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type = "text/css" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
        <div id = "top">
        <a href="" ><img src="img/anhbia.png" alt="" width="100%" height="auto" controls></a>   
      </div>
            
            
            
          <div class="header-menu">

      <!-- menu sẽ tự động mất đi và có nút nhấn để hiện menu trên thiết bị di động -->
            

            <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-toggleable-md" href="/logincomple"><img src="img/logo.gif" alt="" width="100" height="50"></a>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a></li>
                <li><a href="/albums"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Albums </a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About </a></li>
                <li><a href="/myblog"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Blog </a></li>
                <ul class="nav navbar-nav navbar-right nav navbar-nav">
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chào bạn,...
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="/">Đăng xuất</a></li>
                          </ul>
                      </li>
                    </ul>
            </ul>
        </div>
    </div>
</nav>
      <!-- End Menu Bootstrap -->
  
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">


        
      <div class = "navbar-header">
        <button type = "button" class = "navbar-toggle collapsed" data-target = "#main-nav" aria-expanded = "false"  data-toggle = "collapse" name = "button"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
          <div class="collapse navbar-collapse" id="main-nav">     
              <a href="#no1" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"> Quốc gia <i class="fa fa-caret-down"></i></a>
                <div class="collapse" id="no1">
                  <a href="#no11" class="list-group-item" data-toggle="collapse" data-parent="#no11"> Mỹ <i class="fa fa-caret-down"></i></a>
                    <div class="collapse list-group-submenu" id="no11">
                        <a href="#" class="list-group-item" data-parent="#no11"> Walt Desney </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Warner Bros </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Paramount Pictures </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Pixar </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> 20th Century Fox </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Comlumbia Pictures </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Dreamworks </a>
                        <a href="#" class="list-group-item" data-parent="#no11"> Universal </a>
                    </div>
                  <a href="#no12" class="list-group-item" data-toggle="collapse" data-parent="#no12"> Nhật Bản <i class="fa fa-caret-down"></i></a>
                  <div class="collapse list-group-submenu" id="no12">
                        <a href="#" class="list-group-item" data-parent="#no12"> Studio Ghibli </a>
                        <a href="#" class="list-group-item" data-parent="#no12"> Sunrise </a>
                        <a href="#" class="list-group-item" data-parent="#no12"> Toei Animation </a>
                        <a href="#" class="list-group-item" data-parent="#no12"> Gainax </a>
                  </div>
                </div>
                <a href="#no2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Thể loại<i class="fa fa-caret-down"></i></a>
                <div class="collapse" id="no2">
                  <a href="" class="list-group-item"> Hài hước </a>
                  <a href="" class="list-group-item"> Phiêu lưu </a>
                  <a href="" class="list-group-item"> Siêu nhân</a>
                </div>
                <a href="#no3" class="list-group-item list-group-item-success" data-parent="#MainMenu"> Phim lẻ </a>
                <a href="#no4" class="list-group-item list-group-item-success" data-parent="#MainMenu"> Phim bộ </a>
              
          </div>
      </div>
      </div>

<div class="col-sm-10">

      <div class="col-lg-12" class="pull-left">
          <h1 class="page-header text-center"> ----------- MY BLOG ---------- </h1>
      </div>

      <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/avatar.conan.gif" alt="..." width="220" height="170">
          </a>
          <div class="media-body">
            <h4> Conan Ep 300-400 </h4>
            <h6> #03 Truc Vo 03/03/2017 </h6>
            <p> Meitantei Conan (Nhật: 名探偵コナン?) là một bộ truyện tranh Nhật Bản (manga) thuộc loại trinh thám được vẽ và minh họa bởi Aoyama Gosho. Xê-ri này ban đầu là những chương truyện nhỏ được đăng trên tuần báo Shōnen Sunday... </p>
            <a class="btn btn-primary" href="blog03">Xem Bài <span class="glyphicon glyphicon-chevron-right"></span></a>
            <p></p>
            <hr>
      </div>
      </div>
      </div>

      <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/avatar.doremon.gif" alt="..." width="220" height="170">
          </a>
          <div class="media-body">
            <h4> Doraemon Ep 1-50 </h4>
            <h6> #02 TrucVo 02/02/2017</h6>
            <p>Doraemon (ドラえもん?) (hay Đôrêmon, tên gọi cũ trước khi được đổi theo công ước Bern về bản quyền), là bộ truyện tranh Nhật Bản của tác giả Fujiko Fujio được sáng tác từ năm 1969 với mục đích ban đầu dành cho lứa tuổi thiếu... </p>
            <a class="btn btn-primary" href="blog02">Xem Bài <span class="glyphicon glyphicon-chevron-right"></span></a>
            <p></p>
            <hr>

      </div>
      </div>
      </div>

      <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/avatar.nguoinhen.gif" alt="..." width="220" height="170">
          </a>
          <div class="media-body">
            <h4>  Spiderman </h4>
            <h6> #01 Truc Vo 01/01/2017</h6>
            <p>The Amazing Spider-Man (tạm dịch Người Nhện phi thường) là một bộ phim siêu anh hùng của đạo diễn Marc Webb, dựa trên cuốn truyện tranh cùng tên và diễn viên Andrew Garfield thủ vai chính nhân vật Người Nhện. Bộ...</p>
            <a class="btn btn-primary" href="/blog01">Xem Bài <span class="glyphicon glyphicon-chevron-right"></span></a>
            <p></p>
            <hr>

      </div>
      </div>
      </div>


</div>

</div>
</div>

<div class="container text-center>
<div class="row">
<div class="col-md-5"></div>
  <div class="col-md-4">
    <ul class="pagination">
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
       <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </div>
</div>
</div>
</div>





 









    <footer>
    <div class="container">
      <div class="footer-info text-center">
        Dương Minh Toàn - Võ Thị Thanh Trúc
      <br>
        1412553-1412595 Copyright© 2017<br>
      </div>
    </div>
  </footer> 



  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery-3.2.0.min.js" type = "text/javascript"></script>
  <script src="js/bootstrap.min.js" type = "text/javascript"></script>
  </body>
</html>